.Modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}
.Modal-body{
    position: relative;
    display: grid;
    padding: 2rem;
    width: 400px;
    border-radius: 5px;
    background: #fff;
    height: max-content;

}
.Quit{
    border: none;
    position:absolute;
    top:10px;
    right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
}
.Quit:hover{
    background-color: #53C100;
    color: white;
}
.LabelsInp{
    font-size: 14pt;
    font-weight: bold;

}
.modal-inp{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 25px;
    border: none;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #53C100;
    margin-right: 15px;
    font-size: 12pt;
}
.inputSearch:focus{
    border: 2px solid #53C100;
    border-radius: 5px;
}
.btnInput{
    width: 100%;
    height: 40px;
}
.err{
    color: red;
    font-size: 14pt;
    margin-top: 5px;
    margin-bottom: 5px;
}
.opnModal{
    width:100%;
    height: 40px;
}
